* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}

:root {
    --bg-hero-color: linear-gradient(to left, #000000, #ABC6D6);
    --bg-about-color: linear-gradient(to right, #000000, #ABC6D6);
    --bg-services-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #ABC6D6);

    --primary-color: #0C7AB9;
    --secondary-color: #D633C5;
    --third-color: #7DC7EF;
    --black-color: #000000;
    --black75-color: rgba(var(var(--black-color)), 0.75);
    --black50-color: rgba(var(var(--black-color)), 0.5);
    --black25-color: rgba(var(var(--black-color)), 0.25);
    --black10-color: rgba(var(var(--black-color)), 0.10);
    --black5-color: rgba(var(var(--black-color)), 0.5);


    --font-h1: 90px;
    --font-h2: 67px;
    --font-h3: 50px;
    --font-h4: 38px;
    --font-h5: 28px;
    --font-h6: 21px;
    --font-content: 16px;
    --font-caption: 13px;
    --font-small: 9px;

}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

h5 {
    font-size: var(--font-h5);
}

h6 {
    font-size: var(--font-h6);
}

p {
    font-size: var(--font-content);
}

.caption {
    font-size: var(--font-caption);
}

.small {
    font-size: var(--font-small);
}

@media (max-width:1900px) {
    h1 {
        font-size: var(--font-h2);
    }

    h2 {
        font-size: var(--font-h3);
    }

    h3 {
        font-size: var(--font-h4);
    }

    h4 {
        font-size: var(--font-h5);
    }

    h5 {
        font-size: var(--font-h6);
    }

    h6 {
        font-size: var(--font-content );
    }
}
@media (max-width:440px){
     h1 {
        font-size: var(--font-h4);
    }

    h2 {
        font-size: var(--font-h5);
    }

    h3 {
        font-size: var(--font-h6);
    }

    h4 {
        font-size: var(--font-h6);
    }

    h5, h6 {
       font-size: var(--font-h6);
    }
    

  
}
