.nav-logo[b-r1r623j3hl]{
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 36px;
    font-weight: bold;
}
.nav-logo .logo-color[b-r1r623j3hl]{
    
    color:white;
}
.nav-menu i[b-r1r623j3hl]{
    font-size: 32px;
    display: none;
}
.navlist[b-r1r623j3hl] , .nav-items[b-r1r623j3hl]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: auto;
    color:black;
}
.nav-content[b-r1r623j3hl]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:32px;
}
.nav-items[b-r1r623j3hl]{
    gap: 32px;
}
[b-r1r623j3hl] .nav-item, .nav-btn[b-r1r623j3hl]{
    color:black;
    text-decoration: none;
}
.nav-btn[b-r1r623j3hl]{
    border:2px solid white;
    background: white;
    border-radius: 100px;
    padding:12px 38px;
}
.hide[b-r1r623j3hl]{
    display: none;
}
.show[b-r1r623j3hl]{
    display:block  ;
}

@media (max-width:440px) {

    .navlist[b-r1r623j3hl]{
        display:flex;
        flex-direction: column;
        align-items: end;

    }
  .nav-content[b-r1r623j3hl], .nav-items[b-r1r623j3hl]{
    flex-direction:column;
    justify-content: space-between;
    align-items: start;
    gap:16px;
   
   }
   [b-r1r623j3hl] .nav-item{
    display: flex;
    width: auto;
    justify-content: start  ;
    align-items: start ;
    padding-left: 32px;
   }
   .nav-menu i[b-r1r623j3hl]{
    display:block;
    text-align: center;
   }
   .visible[b-r1r623j3hl]{
    display: block;
    opacity: 1;
   }
   
   .hidden[b-r1r623j3hl]{
    display:none;
    opacity: 0;
   }
   .right-content[b-r1r623j3hl]{
    display: flex;
    align-items: start;
    justify-content: start;
   
    
   }

}