<div class="footer">
    <h2>Let me resolve your problem</h2>
    <a class="btn">Hire me</a>
    <ul>
        <li class="bg-primary"><i class="ri-facebook-fill"></i></li>
        <li class="bg-primary"><i class="ri-telegram-2-line "></i></li>
        <li class="bg-primary"><i class="ri-mail-line"></i></li>
        <li class="bg-primary"><i class="ri-github-line"></i></li>
    </ul>
</div>
