.nav-logo{
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 36px;
    font-weight: bold;
}
.nav-logo .logo-color{
    
    color:white;
}
.nav-menu i{
    font-size: 32px;
    display: none;
}
.navlist , .nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: auto;
    color:black;
}
.nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:32px;
}
.nav-items{
    gap: 32px;
}
::deep .nav-item, .nav-btn{
    color:black;
    text-decoration: none;
}
.nav-btn{
    border:2px solid white;
    background: white;
    border-radius: 100px;
    padding:12px 38px;
}
.hide{
    display: none;
}
.show{
    display:block  ;
}

@media (max-width:440px) {

    .navlist{
        display:flex;
        width: 100vw;
        flex-direction: column;
        align-items: end;

    }
  .nav-content, .nav-items{
    width: 100%;
    flex-direction:column;
    justify-content: space-between;
    align-items: start;
    gap:16px;
   
   }
   ::deep .nav-item{
    display: flex;
    width: auto;
    justify-content: start  ;
    align-items: start ;
    padding-left: 32px;
   }
   .nav-menu i{
    display:block;
    text-align: center;
   }
   .visible{
    display: block;
    opacity: 1;
   }
   
   .hidden{
    display:none;
    opacity: 0;
   }
   .right-content{
    display: flex;
    align-items: start;
    justify-content: start;
   
    
   }

}