.hero[b-v9rf77xbvc],
.info[b-v9rf77xbvc] {
    position: relative;
    background: var(--bg-hero-color);
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height: auto;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.hero-text[b-v9rf77xbvc],
.hero-img[b-v9rf77xbvc] {
    position: relative;
    width: 35vw;
    height: 35vw;
    padding: 0;
    margin: 0;
}

.hero-text[b-v9rf77xbvc] {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;


    /* border: 2px solid white; */

}

.img-container[b-v9rf77xbvc] {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border:2px solid red; */
}

.hero-background[b-v9rf77xbvc] {
    position: absolute;
    box-sizing: border-box;
    width: 93%;
    height: 93%;
    background: transparent;
    border: 100px solid rgba(217, 217, 217, 0.5);
    border-radius: 700px;
    border-right: 100px solid transparent;
    right: 4%;
    top: 4%;
    z-index: 1;
    /* border:2px solid white;  */

}

.hero-img img[b-v9rf77xbvc] {
    position: absolute;
    width: 85%;
    height: auto;
    left: 8%;
    top: -5%;
    z-index: 3;
    object-fit: cover;

}

.info[b-v9rf77xbvc],
.services[b-v9rf77xbvc] {
    position: relative;
    background: var(--bg-about-color);
    width: 100vw;
    padding: 0;
    margin: 0;
    outline: none;
    height: 100vh;
}

.services[b-v9rf77xbvc] {
    background: var(--bg-services-color);
    margin: 0;
    padding: 0;
}

.hero-container[b-v9rf77xbvc] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    margin: 0;
    color: white;


}

.service-container[b-v9rf77xbvc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10% 5% 10%;
    gap: 10%;


}

.services h2[b-v9rf77xbvc] {
    margin: 16px auto;
}



.input-email[b-v9rf77xbvc] {
    background-color: white;
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 2;
}

.hero-form[b-v9rf77xbvc] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    margin-top: 32px;

}

.hero-form input[b-v9rf77xbvc] {
    border: none;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 6px;

}

.hero-form input:focus[b-v9rf77xbvc] {
    outline: none;

}

.hero-btn[b-v9rf77xbvc] {
    position: relative;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgb(29, 29, 29);
}
.unshow[b-v9rf77xbvc]{
    display: none;
}
.hero-btn:hover[b-v9rf77xbvc] {
    transform: scale(1.1);
}

.hero-text h1[b-v9rf77xbvc] {
    color: var(--primary-color);
    font-weight: 600;
}

.hero-img[b-v9rf77xbvc] {
    position: relative;
    padding: 0;
    margin: 0;

    /* border:2px solid violet; */
}





.hero-img img[b-v9rf77xbvc] {
    position: absolute;
    width: 85%;
    height: auto;
    left: 8%;
    top: -5%;
    z-index: 3;
    object-fit: cover;

    /* border: 2px solid yellow; */
}

.spin[b-v9rf77xbvc] {
    position: absolute;
    width: 77%;
    height: 77%;
    display: fixed;
    top: 8%;
    right: 12%;
    padding: 0;
    animation: spin-b-v9rf77xbvc 3s linear 1;
    animation-fill-mode: forwards;
    /* animation-timeline: View();
    animation-range: entry 0% cover 50%; */
    z-index: 2;
    /* border-color: red white white blue; */
}

.spin-circle[b-v9rf77xbvc] {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px 3s solid red;
    border-radius: 50%;
    /* animation-timeline: View();
    animation-range: entry 0% cover 50%; */

}

div .icon[b-v9rf77xbvc] {
    position: absolute;
    width: auto;
    height: 40px;
    animation: rspin-b-v9rf77xbvc 3s linear 1;
    animation-fill-mode: forwards;
}

div .icon-1[b-v9rf77xbvc],
.icon-2[b-v9rf77xbvc],
.icon-3[b-v9rf77xbvc],
.icon-4[b-v9rf77xbvc] {
    position: absolute;


}

.spin .icon-1[b-v9rf77xbvc] {

    left: 47%;
    top: 97%;
}

.spin .icon-2[b-v9rf77xbvc] {
    left: 9%;
    top: 82%;
}

.spin .icon-3[b-v9rf77xbvc] {

    left: -3%;
    top: 47%;
}

.spin .icon-4[b-v9rf77xbvc] {

    left: 12%;
    top: 12%;
}

h2[b-v9rf77xbvc] {
    text-align: center;
}

.card-list[b-v9rf77xbvc] {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.card-item[b-v9rf77xbvc] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 460px;
    border: 1px solid white;
    background-color: rgb(215, 216, 221);
    border-radius: 30px;
    padding: 16px 32px;
    box-shadow: 5px 10px 10px black;
}

.card-logo[b-v9rf77xbvc] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    padding: auto;
    background: var(--primary-color);


}

.card-logo i[b-v9rf77xbvc] {
    font-size: 28px;
    color: white
}

.card-title[b-v9rf77xbvc] {
    height: auto;
    color: var(--primary-color);
    font-weight: 400;
}

.card-content[b-v9rf77xbvc] {
    height: 40%;
    text-align: center;

}

.card-button[b-v9rf77xbvc] {
    text-align: center;
    width: 150px;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 200px;
    padding: 8px 16px;
    text-decoration: none;
    box-shadow: 5px 10px 10px black;
}

.card-button:hover[b-v9rf77xbvc] {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes spin-b-v9rf77xbvc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes rspin-b-v9rf77xbvc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@media (max-width:440px) {

    .hero[b-v9rf77xbvc] , .info[b-v9rf77xbvc]{
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content:center;
        height: auto;

    }

   
    .hero-img[b-v9rf77xbvc] {
        position: relative;
        width: 350px;
        height: 350px;
    }
     .hero-text[b-v9rf77xbvc]{
        width: 350px;
        height: auto;
        gap:16px;
     }
    .hero-container[b-v9rf77xbvc] {
        display: flex;
        flex-direction: column;
      
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
     
        gap: 16px;
        margin: 16px;
        padding: 0;
    }
    .hero-background[b-v9rf77xbvc]{
        border-width: 60px;
    }
    .revert[b-v9rf77xbvc]{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .service-container[b-v9rf77xbvc]{
        height:auto;
    }
    .services[b-v9rf77xbvc]{
        height: auto;
        overflow: hidden;
        width: 100vw;
        height: 65vh;
       
    }
    .card-list[b-v9rf77xbvc]{
      flex-direction: row;
      overflow-x: auto;
      flex-wrap: nowrap;
      gap:32px;
      width:1000px;
      justify-content: start;
      align-items: flex-start;
      align-self: self-start;

    
    }
    /* Thanh cuá»™n cho Chrome/Safari */
  .card-list[b-v9rf77xbvc]::-webkit-scrollbar {
    height: 8px;
  }
  
  .card-list[b-v9rf77xbvc]::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .card-list[b-v9rf77xbvc]::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

}