@inject IJSRuntime _jsRuntime
@inject ScrollBarItemService ScrollBarItemService

<div @ref="_element" 
     id="@ElementId" 
     style="@_style" 
     class="@Class">
    @ChildContent
</div>
@code{
    [Parameter] public string ElementId{get;set;}=Guid.NewGuid().ToString();
    [Parameter] public string Class{get;set;}="";
    [Parameter] public RenderFragment? ChildContent {get;set;}
    private ElementReference _element;
    private string _style="opacity:0;";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       if(firstRender){
        ScrollBarItemService.RegiserScrollBar(ElementId,()=>ShowBarItem());
        await _jsRuntime.InvokeVoidAsync("scrollbarservice",_element);
       }
    }
    private void ShowBarItem(){

    }
}