@using System.ComponentModel.DataAnnotations
<section class="contact">

    <div class="header-container">
        <h2>CONTACT ME</h2>
        <p>Got a question? Send me a message, and I'll get back to you soon.</p>
    </div>
    <div class="container">
        <form class="contact-form">
            <h3>Get in Touch</h3>
            <p>Have something to discuss? Send me a message and let's talk</p>
            <input class="form-control" placeholder="Your Name">
            <input class="form-control" placeholder="Your Email">
            <textarea class="form-control" placeholder="Your Message" rows="5"></textarea>
            <button class="btn btn-large btn-primary ">Send Message</button>
            <hr>
            <fieldset>
                <legend><i class="ri-contacts-book-fill"></i>Connect With Me</legend>
                <a class="contact-btn" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><span class="logo"><i class="ri-linkedin-fill"></i></span><span class="content">
                        <div>Let's Connec to</div>
                        <div> Linkedln</div>
                    </span></a>
                <a class="contact-btn"><span class="logo"><i class="ri-telegram-2-fill"></i></span><span
                        class="content">
                        <div>Telegram</div>
                        <div>@@tuyen99it</div>
                    </span></a>
                <a class="contact-btn" href= "https://github.com/Tuyen99it"><span class="logo"><i class="ri-github-fill"></i></span><span class="content">
                        <div>Github</div>
                        <div>@@tuyen99it</div>
                    </span></a>

            </fieldset>
        </form>
    </div>



</section>
@code{
    
    public string UserName {get;set;}

    public string Email {get;set;}
}
